<td><a href="#/<%= _id %>"><%= title %></a></td>

<td><div><a href="#/<%= _id %>/edit" class="indexaction">Edit</a></td></div>
<td><div><a href="#/<%= _id %>/destroy" class="destroy indexaction">Destroy</a></td></div>