<h3>Implementations</h3>
<div class="tablecontainer">
<table id="implementations-table" class="table table-hover ">
  <tr/>
</table>
</div>
<div ><a href="#/new" class="newaction">New Implementation</a></div>