<h1>dNew implementation</h1>

<form id="new-implementation" name="implementation">
  <div class="field">
    <label for="title"> Title:</label>
    <input type="text" name="title" id="title" value="<%= title %>" >
  </div>

  <div class="field">
    <label for="content"> Content:</label>
    <textarea name="content" id="content" value="<%= content %>" />
  </div>

  <div class="actions">
    <input type="submit" value="Create Implementation" class="btn btn-primary" />
  </div>

</form>

<a href="#/index">Back</a>