<div id="posts"></div>

<script type="text/javascript">
  $(function() {
    // Blog is the app name
    Wiki.page = <%= @title.to_json.html_safe -%>
    window.router = new Wiki.Routers.ImplementationsRouter({implementations: <%= @implementations.to_json.html_safe -%>});
    Backbone.history.start();
  });
</script>